<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="devdaryl.com.mapwithlogin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/networ_security_config"
        >

        <provider
            android:name=".GenericFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <activity android:name=".AccountActivity"></activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDGRSQA-WaeCi8xE7-voGWOoXmXg28kmJc" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name="devdaryl.com.mapwithlogin.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="devdaryl.com.mapwithlogin.MapActivity"
                  android:launchMode="singleTop"
            />

        <activity
            android:name=".AddPOI"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_add_poi"
            android:parentActivityName=".MapActivity"
            android:theme="@style/FullscreenThemeUpdated"
            >

        </activity>
        <activity
            android:name=".FilterPOI"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_filter_poi"
            android:parentActivityName=".MapActivity"
            android:theme="@style/FullscreenThemeUpdated"
            >

        </activity>

        <activity android:name=".PoiPopUp"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label = "title_activity_poi_pop_up"
            android:parentActivityName=".MapActivity"
            android:theme = "@style/AppTheme.PopUp"
            ></activity>

    </application>

</manifest>